
.vs/eax/v17/Browse.VC.opendb
.vs/eax/FileContentIndex/116f645f-8e70-4411-b090-902db4a74c6e.vsidx
.vs/eax/FileContentIndex/read.lock
.vs/eax/v17/Browse.VC.db
.vs/eax/v17/Browse.VC.db-shm
.vs/eax/v17/Browse.VC.db-wal
